@use 'sass:map';
@import 'variables.scss';

:root {
	font-size: map.get($root-font-size, 'mobile');
	font-family: $root-font-family;
	font-weight: $root-font-weight;
	color: $root-color-dark;
}

h1 {
	font-size: map.get($h1-font-size, 'mobile');
	font-family: $h1-font-family;
	font-weight: $h1-font-weight;
	text-transform: lowercase;
}

h2 {
	display: inline-block;
	font-size: map.get($h2-font-size, 'mobile');
	font-family: $h2-font-family;
	font-weight: $h2-font-weight;
	text-transform: lowercase;
	text-shadow: 2px 2px 1px $root-color-accent;
}

p {
	line-height: 180%;
	margin: 24px $root-margin-y 0px $root-margin-y;
}

strong {
	font-weight: 500;
}

.stabilo {
	text-decoration: none;
	font-weight: 500;
	color: #101016;
	position: relative;
	z-index: 1;
}

.stabilo::before {
	content: '';
	width: 100%;
	height: 24%;
	background-color: $root-color-accent;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: -1;
}

.github,
.linkedin {
	padding-left: 26px;
	white-space: nowrap;
}

.github::after,
.linkedin::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-position: 0px center;
	background-repeat: no-repeat;
	background-size: auto 72%;
}

.github::after {
	background-image: url('/contact/github.svg');
}

.linkedin::after {
	background-image: url('/contact/linkedin.svg');
}

// tablet
@media (min-width: $root-breakpoint-tablet) {
	:root {
		font-size: map.get($root-font-size, 'tablet');
	}
	h1 {
		font-size: map.get($h1-font-size, 'tablet');
	}
	h2 {
		font-size: map.get($h2-font-size, 'tablet');
	}
}

// desktop
@media (min-width: $root-breakpoint-desktop) {
	:root {
		font-size: map.get($root-font-size, 'desktop');
	}
	h1 {
		font-size: map.get($h1-font-size, 'desktop');
	}
	h2 {
		font-size: map.get($h2-font-size, 'desktop');
	}
}
