@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

// ALL SASS VARIABLES ARE DEFINED BELOW 👇

$root-color-dark: #1b1f23;
$root-color-darker: #101016;
$root-color-light: #e1ccb5;
$root-color-lighter: whitesmoke;
$root-color-accent: #d69999;
$root-breakpoint-mobile: 0px;
$root-breakpoint-tablet: 480px;
$root-breakpoint-desktop: 1080px;
$root-margin-y: 8vw;
$root-background-color: $root-color-darker;
$root-font-family: 'Poppins', sans-serif;
$root-font-weight: 300;
$root-font-size: (
	'mobile': 1.3rem,
	'tablet': 1.4rem,
	'desktop': 1.5rem
);
$h1-font-family: 'Kanit', sans-serif;
$h1-font-weight: 900;
$h1-font-size: (
	'mobile': 17vw,
	'tablet': 12vw,
	'desktop': 9vw
);
$h2-font-family: 'Kanit', sans-serif;
$h2-font-weight: 900;
$h2-font-size: (
	'mobile': 14vw,
	'tablet': 8vw,
	'desktop': 6vw
);
